.logo {
  @include bg-contain;

  display: block;
  width: 170px;
  height: 50px;
  background-image: url("../img/svg/yandex-go-logo.svg");

  @include mobile {
    width: 112px;
    height: 32px;
  }
}

.discount {
  display: inline-flex;
  align-items: center;
  border-radius: 500px;
  background:
    linear-gradient(
      0deg,
      rgb(255 255 255 / 63%) 0%,
      rgb(255 255 255 / 63%) 100%
    ),
    radial-gradient(141.42% 141.42% at 100% -0%, #e0b8ff 0%, #b6b9ff 100%);

  &__current {
    border-radius: 500px;
    padding: 1px 12px;
    font-size: 24px;
    color: var(--dark);
    background: radial-gradient(141.42% 141.42% at 100% -0%, #e0b8ff 0%, #b6b9ff 100%);

    @include mobile {
      font-size: 18px;
      line-height: 113%;
    }
  }

  &__old {
    padding: 1px 12px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: line-through;
    color: var(--gray);

    @include mobile {
      font-size: 13px;
    }
  }
}

.btn-yellow {
  border-radius: 36px;
  padding: 21px 48px;
  box-shadow: 0 4px 98px 0 var(--btn-shadow);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 22px;
  color: var(--dark);
  background-color: var(--yellow);
  transition: box-shadow var(--ui-transition) ease, background-color var(--ui-transition) ease;

  @include mobile {
    width: 100%;
  }

  /* stylelint-disable-next-line order/order */
  &--fixed {
    @include mobile {
      position: fixed;
      left: 50%;
      bottom: 30px;
      width: calc(100% - var(--container-offset) * 2);
      transform: translateX(-50%);
    }
  }

  @include hover {
    box-shadow: 0 4px 98px 0 #ffde3cdb;
    background-color: var(--yellow-active);
  }

  /* stylelint-disable-next-line order/order */
  &:active {
    background-color: #dabd2cdb;
  }

  @include mobile {
    padding: 15px 48px;
    font-size: 18px;
  }
}

.figure {
  margin: 0;
}

.circle-text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;

  span {
    position: absolute;
    display: inline-block;
    width: auto;
    font-weight: 500;
    font-size: 25px;
    transform: translate(0, 0) rotate(var(--rot)) translate(0, -105px);
    pointer-events: none;
  }
}

.decor-list {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 0;
  width: clamp(375px, 98vw, 1440px);
  height: 100%;
  transform: translate(-50%);
  pointer-events: none;
}

.decor-item {
  @include bg-contain;

  position: absolute;
  user-select: none;

  &--oval {
    border-radius: 100%;
    width: 657px;
    height: 401px;
    background-color: var(--lilac);
    opacity: 0.5;
    filter: blur(200px);
    transform: rotate(-140deg);
  }
}

.control {
  @include bg-auto;

  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: var(--yellow);
  transition: opacity var(--ui-transition) ease;

  &::after {
    display: none;
  }

  &--prev {
    left: 34%;
    background-image: url("../img/svg/left.svg");
  }

  &--next {
    right: 34%;
    background-image: url("../img/svg/right.svg");
  }

  @include hover {
    background-color: var(--yellow-active);
  }
}
