<section class="advantages">
  <div class="container advantages__container">
    <h2 class="title h2 advantages__title anim-item anim-item--norepeat">Вот что даёт участие в клубе</h2>
    <ul class="list-reset advantages__list">
      <li class="advantages__item advantages__item--1 anim-item anim-item--norepeat">
        <span class="text advantages__desc">0 ₽ за старт в каждой поездке</span>
      </li>
      <li class="advantages__item advantages__item--2 anim-item anim-item--norepeat">
        <span class="text advantages__desc">Катаетесь с друзьями? Бронируйте до трёх самокатов с аккаунта с абонементом — так у всех будет бесплатный старт</span>
      </li>
      <li class="advantages__item advantages__item--3 anim-item anim-item--norepeat">
        <span class="text advantages__desc">Бесплатная пауза 15 минут в поездке — например, чтобы зайти за кофе или передохнуть</span>
      </li>
      <li class="advantages__item advantages__item--4 anim-item anim-item--norepeat">
        <span class="text advantages__desc">Если самокат недостаточно заряжен или с ним неудобно переходить дорогу, замените по пути на другой — это бесплатно</span>
      </li>
    </ul>
  </div>
</section>
