<section class="bonuses">
  <div class="container bonuses__container">
    <div class="decor-list">
      <span class="decor-item decor-item--oval bonuses__decor bonuses__decor--1"></span>
    </div>
    <div class="bonuses__content">
      <h2 class="title h2 bonuses__title anim-item anim-item--norepeat">Купить абонемент и вступить в клуб смогут те, кто в Плюсе</h2>
      <p class="text bonuses__text anim-item anim-item--norepeat">За каждую поездку на самокатах такие пользователи получают кешбэк баллами. Баллы
        можно тратить на поездки на самокатах и такси с Яндекс Go, покупки и заказы в других сервисах Яндекса
      </p>
    </div>
    <figure class="figure bonuses__figure bonuses__figure--1">
      <picture class="picture bonuses__picture-1 anim-item anim-item--norepeat">
        <source srcset="img/decor-5.avif" type="image/avif">
        <source srcset="img/decor-5.webp" type="image/webp">
        <img loading="lazy" src="img/decor-5.png" class="image" width="742" height="742" alt="" aria-hidden="true">
      </picture>
      <picture class="picture bonuses__picture-2 anim-item anim-item--norepeat">
        <source srcset="img/decor-6.avif" type="image/avif">
        <source srcset="img/decor-6.webp" type="image/webp">
        <img loading="lazy" src="img/decor-6.png" class="image" width="268" height="264" alt="" aria-hidden="true">
      </picture>
    </figure>
  </div>
  <div class="container bonuses__container">
    <div class="decor-list">
      <span class="decor-item decor-item--oval bonuses__decor"></span>
    </div>
    <figure class="figure bonuses__figure bonuses__figure--2 anim-item anim-item--norepeat">
      <picture class="picture anim-item anim-item--norepeat">
        <source srcset="img/decor-7.avif" type="image/avif">
        <source srcset="img/decor-7.webp" type="image/webp">
        <img loading="lazy" src="img/decor-7.png" class="image" width="282" height="392" alt="" aria-hidden="true">
      </picture>
      <figcaption class="circle-text bonuses__circle anim-item anim-item--norepeat"></figcaption>
    </figure>
    <div class="bonuses__content">
      <h2 class="title h2 bonuses__title anim-item anim-item--norepeat">80  % наших пользователей уже в клубе и экономят на поездках</h2>
      <p class="text bonuses__text anim-item anim-item--norepeat">Присоединяйтесь — опция начнёт действовать в начале сезона–2024. Об открытии сезона предупредим заранее, чтобы вы были готовы</p>
      <button class="btn-reset btn-yellow anim-item anim-item--norepeat bonuses__btn">Хочу абонемент</button>
    </div>
  </div>
</section>
