<section class="exclusive">
  <div class="container exclusive__container">
    <h2 class="title h2 exclusive__title anim-item anim-item--norepeat">Эксклюзивный доступ к событиям Самокатов</h2>
    <p class="text exclusive__text anim-item anim-item--norepeat">С абонементом — у вас доступ к специальным мероприятиям, скидки и классный мерч.
      В 2023 году мы танцевали на Даче Плюс с Антохой MC, катались на самокатах с Сергеем Мезенцевым и слушали хор
      Attaque de Panique
    </p>
    <div class="swiper exclusive__slider">
      <div class="decor-list exclusive__decor-list">
        <span class="decor-item exclusive__decor exclusive__decor--1 anim-item anim-item--norepeat"></span>
        <span class="decor-item exclusive__decor exclusive__decor--2 anim-item anim-item--norepeat"></span>
        <span class="decor-item exclusive__decor exclusive__decor--3 anim-item anim-item--norepeat"></span>
      </div>
      <div class="swiper-wrapper exclusive__wrapper">
        <div class="swiper-slide exclusive__slide exclusive__slide--indent-top anim-item anim-item--norepeat">
          <picture class="picture exclusive__picture">
            <source srcset="img/event-image-1.avif" type="image/avif">
            <source srcset="img/event-image-1.webp" type="image/webp">
            <img loading="lazy" src="img/event-image-1.png" class="image" width="455" height="455" alt="мероприятие">
          </picture>
        </div>
        <div class="swiper-slide exclusive__slide anim-item anim-item--norepeat">
          <picture class="picture exclusive__picture">
            <source srcset="img/event-image-2.avif" type="image/avif">
            <source srcset="img/event-image-2.webp" type="image/webp">
            <img loading="lazy" src="img/event-image-2.png" class="image" width="455" height="455" alt="мероприятие">
          </picture>
        </div>
        <div class="swiper-slide exclusive__slide anim-item anim-item--norepeat">
          <picture class="picture exclusive__picture">
            <source srcset="img/event-image-3.avif" type="image/avif">
            <source srcset="img/event-image-3.webp" type="image/webp">
            <img loading="lazy" src="img/event-image-3.png" class="image" width="455" height="455" alt="мероприятие">
          </picture>
        </div>
        <div class="swiper-slide exclusive__slide exclusive__slide--indent-bottom anim-item anim-item--norepeat">
          <picture class="picture exclusive__picture">
            <source srcset="img/event-image-4.avif" type="image/avif">
            <source srcset="img/event-image-4.webp" type="image/webp">
            <img loading="lazy" src="img/event-image-4.png" class="image" width="455" height="455" alt="мероприятие">
          </picture>
        </div>
      </div>
      <button type="button" class="btn-reset swiper-button-prev control control--prev exclusive__control anim-item anim-item--norepeat" aria-label="предыдущий слайд"></button>
      <button type="button" class="btn-reset swiper-button-next control control--next exclusive__control anim-item anim-item--norepeat" aria-label="следующий слайд"></button>
    </div>
  </div>
</section>
