<footer class="footer">
  <div class="container footer__container">
    <small class="footer__text anim-item anim-item--norepeat">
      Доп. опция «Абонемент на самокаты» на 8 месяцев (240 дней) активируется автоматически с момента старта сезона 2024
      г. самокатов Яндекс Go, далее предусмотрено автопродление доп.опции за 399 руб./мес. Сертификат на доп.опцию
      «Абонемент на самокаты» на 8 месяцев оформляется на условиях документа <a href="https://yandex.ru/legal/scooters_seasonpass/" aria-label="Правила приобретения и использования сертификатов на опцию «Абонемент на самокаты»">yandex.ru/legal/scooters_seasonpass.</a>
      Доп.опция доступна пользователям с активной подпиской (условия подписки: yandex.ru/legal/yandex_plus_conditions),
      есть ограничения, подробнее: <a href="https://yandex.ru/legal/yandex_plus_opzii_list/" aria-label="Дополнительные опции">yandex.ru/legal/yandex_plus_opzii_list</a>. В случае отсутствия у пользователя активной
      подписки на дату активации доп.опции, пользователю предоставляется 7 дней подписки Яндекс Плюс бесплатно, далее
      автопродление — 299 руб./мес. Электросамокаты Яндекс Go — сервис аренды электросамокатов на условиях:
      <a href="https://yandex.ru/legal/samokaty/" aria-label="Условия аренды электросамоката Яндекс Go">clck.ru/gwDGn.</a> 0+
    </small>
  </div>
</footer>
