<section class="hero">
  <div class="decor-list">
    <span class="decor-item decor-item--oval hero__decor-item"></span>
  </div>
  <div class="container hero__container">
    <div class="hero__wrapper">
      <a href="#" class="logo hero__logo anim-item anim-item--norepeat" aria-label="yandex go logo"></a>
      <h1 class="visually-hidden">scooter club</h1>
      <h2 class="title h1 hero__title">
        <span class="hero__title-overlay">
          <span class="hero__title-word anim-item anim-item--norepeat">Вступайте</span>
        </span>
        <span class="hero__title-overlay">
          <span class="hero__title-word anim-item anim-item--norepeat">в клуб</span>
        </span>
        <span class="hero__title-overlay">
          <span class="hero__title-word anim-item anim-item--norepeat">Самокатов</span>
        </span>
      </h2>
      <strong class="hero__accent anim-item anim-item--norepeat">Купите абонемент, чтобы стать частью клуба в новом сезоне–2024. 8 месяцев за.
        <span class="discount">
          <span class="discount__current">499 ₽</span>
          <span class="discount__old">3190 ₽</span>
        </span>
      </strong>
      <button class="btn-reset btn-yellow btn-yellow--fixed anim-item anim-item--norepeat hero__btn">Стать частью клуба</button>
    </div>
    <figure class="figure hero__figure">
      <picture class="picture hero__picture anim-item anim-item--norepeat">
        <source srcset="img/hero-image.avif" type="image/avif">
        <source srcset="img/hero-image.webp" type="image/webp">
        <img loading="lazy" src="img/hero-image.png" class="image hero__image" width="744" height="618" alt="" aria-hidden="true">
      </picture>
      <figcaption class="circle-text hero__circle anim-item anim-item--norepeat"></figcaption>
    </figure>
  </div>
</section>
